$namspace: qsf;

@mixin setCssVar($name, $value, $np: $namspace) {
  @if $np == '' {
    --#{$name}: #{$value};
  } @else {
    --#{$np}-#{$name}: #{$value};
  }
}

@function getCssVar($name, $np: $namspace) {
  @if $np == '' {
    @return var(--#{$name});
  } @else {
    @return var(--#{$np}-#{$name});
  }
}

@mixin flexLayout($justify: flex-start, $align: center) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
}
