@use './menu.scss' as *;
@use './func.scss' as *;

.#{$namspace}-placeholder {
  position: absolute;
  font-size: 14px;
  line-height: 1.42;
  &.is-hidden {
    display: none;
  }
  &::before {
    content: attr(data-placeholder);
    padding: 0px 4px;
    white-space: nowrap;
    font-size: 14px;
    color: #d8dad9;
  }
  &.is-right {
    transform: translateX(-100%);
  }
  &__wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    user-select: none;
    pointer-events: none;
    overflow: hidden;
  }
}

.ql-editor.ql-blank::before {
  content: none;
}
